<!DOCTYPE HTML>
 <HTML>
 <head>
 <meta charset="UTF-8">
 <title>Expense Management Admin</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="/assets/css/jquery.mobile.structure-1.4.5.css" />
 <link rel="stylesheet" href="/assets/css/jquery.mobile-1.4.5.css" />
 <script src="/assets/js/jquery.min.js"></script>
 <script src="/assets/js/jqm-settings.js"></script>
 <script src="/assets/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="main" class="ui-content">
	<div data-role="controlgroup" data-type="horizontal">
  		<a href="?remove=true" class="ui-btn">Empty Models</a>
  		<a href="?add=true" class="ui-btn">Fill Models</a>
  	</div>
  	<a href="/home/" class="ui-btn">Home</a>
</div>
</body>
</html>