<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Expense Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="/assets/css/jquery.mobile.structure-1.4.5.css" />
 <link rel="stylesheet" href="/assets/css/jquery.mobile-1.4.5.css" />
 <script src="/assets/js/jquery.min.js"></script>
 <script src="/assets/js/jqm-settings.js"></script>
 <script src="/assets/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="main" class="ui-content">
	<a href="/administration/" class="ui-btn">Admin</a>
	<a href="/show/grocery/" class="ui-btn">Show Grocery</a>
	<a href="/show/expense/" class="ui-btn">Show Expenses</a>
	<a href="/add/" class="ui-btn">Add Expense</a>
	<a href="/grocery/" class="ui-btn">Add Grocery</a>
	<a href="/stats/" class="ui-btn">Statistics</a>
	<a href="/shoppinglist/" class="ui-btn">Shopping List</a>
</div>
</body>
</html>